<!-- wp:group {"align":"full","backgroundColor":"teal-600"} -->
<div class="wp-block-group alignfull has-teal-600-background-color has-background">
  <div class="wp-block-group__inner-container">
    <!-- wp:acf/container {"id":"block_6004d400b901d","name":"acf/container","data":{"block_width":"default","_block_width":"field_5ffbc85405070"},"align":"","mode":"preview"} -->
    <!-- wp:spacer {"height":60} -->
    <div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:heading {"textAlign":"center","level":4,"textColor":"white","fontSize":"large"} -->
    <h4 class="has-text-align-center has-white-color has-text-color has-large-font-size"><strong>Find out how
        sample-wordpress can help your team</strong></h4>
    <!-- /wp:heading -->

    <!-- wp:spacer {"height":20} -->
    <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:paragraph {"align":"center","textColor":"white"} -->
    <p class="has-text-align-center has-white-color has-text-color">Lorem ipsum dolor sit amet, consectetur adipiscing
      elit.</p>
    <!-- /wp:paragraph -->

    <!-- wp:spacer {"height":20} -->
    <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:buttons {"align":"center"} -->
    <div class="wp-block-buttons aligncenter">
      <!-- wp:button {"textColor":"white","gradient":"orange"} -->
      <div class="wp-block-button"><a
          class="wp-block-button__link has-white-color has-orange-gradient-background has-text-color has-background">Get
          started</a></div>
      <!-- /wp:button -->

      <!-- wp:button {"backgroundColor":"white","className":"is-style-outline"} -->
      <div class="wp-block-button is-style-outline"><a
          class="wp-block-button__link has-white-background-color has-background">Contact sales</a></div>
      <!-- /wp:button -->
    </div>
    <!-- /wp:buttons -->

    <!-- wp:spacer {"height":60} -->
    <div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    <!-- /wp:acf/container -->
  </div>
</div>
<!-- /wp:group -->