<!-- wp:group {"align":"full"} -->
<div class="wp-block-group alignfull"><div class="wp-block-group__inner-container"><!-- wp:acf/hero-background {"id":"block_5ffba97f9671d","name":"acf/hero-background","align":"","mode":"preview"} -->
<!-- wp:spacer {"height":60} -->
<div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:acf/container {"id":"block_5fffc257add45","name":"acf/container","data":{"block_width":"tiny","_block_width":"field_5ffbc85405070"},"align":"","mode":"preview"} -->
<!-- wp:heading {"textAlign":"center","level":1,"textColor":"orange-500","fontSize":"extra-large"} -->
<h1 class="has-text-align-center has-orange-500-color has-text-color has-extra-large-font-size"><strong>Page Title</strong></h1>
<!-- /wp:heading -->

<!-- wp:spacer {"height":40} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:paragraph {"align":"center","fontSize":"large","style":{"color":{"text":"#ffffff"}}} -->
<p class="has-text-align-center has-text-color has-large-font-size" style="color:#ffffff">Tagline</p>
<!-- /wp:paragraph -->
<!-- /wp:acf/container -->

<!-- wp:spacer {"height":60} -->
<div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->
<!-- /wp:acf/hero-background --></div></div>
<!-- /wp:group -->